<div class="container-fluid bottom-auto footer ">
  <div class="container">
    <div class="row">
      <div class="col-12 flex justify-content-center">
        <span class="pi pi-facebook"></span>
        <span class="pi pi-instagram"></span>
        <span class="pi pi-linkedin"></span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-sm-6 col-md-3 col-xl-2 flex justify-content-center">
       <a href=""> ABOUT</a>
      </div>
      <div class="col-lg-2 col-sm-6 col-md-3 col-xl-2 flex justify-content-center">
        <a href="">CARE</a>
      </div>
      <div class="col-lg-2 col-sm-6 col-md-3 col-xl-2 flex justify-content-center">
       <a href=""> RETURNS</a>
      </div>
      <div class="col-lg-2 col-sm-6 col-md-3 col-xl-2 flex justify-content-center">
        <a href="">PRODUCTON</a>
      </div>
      <div class="col-lg-2 col-sm-6 col-md-3 col-xl-2 flex justify-content-center">
        <a href="">TERMS</a>
      </div>
      <div class="col-lg-2 col-sm-6 col-md-3 col-xl-2 flex justify-content-center">
        <a href="">GET HELP</a>
      </div>
    </div>
  </div>
</div>