.honda {
    background-image: url(http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/Enterprises-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.honda .row:nth-child(1) {
    background-color: white;

}

.honda .row:nth-child(2) {
    height: 100vh;
    padding-bottom: 300px;
}

.honda .row .content h2,h1 {
    color: #978f8f;
}
.honda .row .content span {
    color: #978f8f;
    font-weight: 800;
    font-size: 25px;
}

/*======================Timeline===========================*/

.custom-marker{
    padding: 3px;
    font-size: 18px;
}

.p-timeline-event{
    
    width: 100px !important;
}

.timeline1{
    overflow-x: hidden !important;
    background-color: black;
    border: none !important; 
}

.card{
    border: none;
    background-color: black;
}

.timeline1 .row:nth-child(1){
    height: 15vh;
    font-size: 35px;
    font-weight: bolder;
    color: #978f8f;
}

.timeline1 .row:nth-child(2){
    width: 100%;
    --bs-gutter-x: none;
    height: 50vh;
    background-color: black;
}

/*===================body2 ========================*/
.body2 .row:nth-child(2){
    min-height: 70vh;
}

.body2 .card p,h3{
    padding-top: 30px;
    color: #978f8f;
}

@media screen and (max-width:900px) {
    .timeline1{
        display: none;
    }
}