<!--======================Honda============================-->
<div class="container-fluid honda">
    <div class="row flex justify-content-center ">
        <div class="col-xl-3 text-center ">
            <img src="assets/img/honda.png" class="col-xl-6 " height="30px" alt="honda" srcset="">
            <p>HONDA CAR'S DEALER MANPOWER UNIFORM</p>
        </div>
        
    </div>
    <div class="row justify-content-center align-items-end">
        <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5 content">
          <h2
            class="col flex justify-content-center"
          >
           {{" Workwear that works"}}
          </h2>
          <span class='fadeoutdown animation-duration-1000 animation-iteration-infinite flex justify-content-center pi pi-chevron-down'></span>"
        </div>
      </div>
</div>