<!--======================Honda============================-->
<div class="container-fluid honda">
    <div class="row flex justify-content-center ">
        <div class="col-xl-3 text-center ">
            <img src="assets/img/honda.png" class="col-xl-6 " height="30px" alt="honda" srcset="">
            <p>HONDA CAR'S DEALER MANPOWER UNIFORM</p>
        </div>
        
    </div>
    <div class="row flex justify-content-center align-items-end">
       <h3 class="justify-content-center align-items-end flex">Workwear that works</h3>
    </div>
</div>