<!-- ========== Navbar============== -->

<div class="navbar border-noround card position-relative sticky-top align-items-center justify-content-center">
  <div class="row flex-block">
    <div class="col-12">
      <a routerLink="home"><h2>acecraft</h2></a>
    </div>
    
  </div>
  <div class="row ">
     <div>
      <p-menubar [model]="items " >
       
      </p-menubar>
     </div>
      <span class="col-2 login-signup ms-auto flex">
        <ul class=" " >
          <span class="pi pi-cog dropdown">
            <div class="dropdown-content">
             <a routerLink='user/login' (click)="setId('login')">Sign In | <span class="pi pi-sign-in"></span></a>
             <a routerLink='user/register'>Register | <span class="pi pi-user-plus"></span></a>
             <a href="">Order Status | <span class="pi pi-briefcase"></span></a>
             <a href="">Contact | <span class="pi pi-telegram"></span></a>
            </div>
        </span>
          <a routerLink="cart"><span class="pi pi-shopping-cart "> <span class="position-absolute top-0 translate-middle badge rounded-pill bg-danger">{{cartCount}}</span></span></a>
        </ul>
      </span>
  </div>
</div>

