<!-- ========== Navbar============== -->

<div
  class="navbar border-noround card sticky-top align-items-center justify-content-center"
>
  <div class="row flex-block">
    <div class="col-12">
      <a routerLink="home"><h2>acecraft</h2></a>
    </div>
  </div>
  <div class="row">
    <div>
      <p-menubar [model]="items" *ngIf="userValid == true"> </p-menubar>
    </div>
    <span class=" login-signup ms-auto flex">
      <ul class="flex">
        <span class="pi pi-cog dropdown">
          <div class="dropdown-content">
            <a
              routerLink="user/login"
              (click)="setId('login')"
              *ngIf="userValid == false"
              >Sign In | <span class="pi pi-sign-in"></span
            ></a>
            <a routerLink="user/register" *ngIf="userValid == false"
              >Register | <span class="pi pi-user-plus"></span
            ></a>
            <a href="">Order Status | <span class="pi pi-briefcase"></span></a>
            <a href="">Contact | <span class="pi pi-telegram"></span></a>
            <a routerLink="/home" (click)="logout()" *ngIf="userValid == true"
              >Logout | <span class="pi pi-user-plus"></span
            ></a>
          </div>
        </span>
        <a routerLink="cart" ><span class="pi pi-shopping-cart" pBadge value={{cartCount}}></span></a>
      </ul>
    </span>
  </div>
</div>
