
/* ------ Navbar  ----------- */
.navbar{
    background-color: black;
}

.navbar h2{
    color: beige;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 10px;
    font-size: 30px;
    text-align: center;
    font-weight: lighter;
}
