<div class="container-fluid border-round login">
  <div class="container w-75 justify-content-center flex">
    <div class="card w-50 text-center mt-5">
      <h5 class="card-title">Signup with ACECRAFT</h5>
      <div class="card-body">
        <form
          [formGroup]="signupform"
          (ngSubmit)="signupform.valid && onSubmission(signupform)"
          novalidate
        >
          <div class="form-group">
            <div class="input-group">
              <input
                type="text"
                formControlName="firstname"
                class="form-control"
                placeholder="User Name"
                [ngClass]="{
                  'is-invalid':
                    signupform.errors && (firstname.touched || firstname.dirty),
                  'is-valid': firstname.valid
                }"
              />
            </div>
            <span class="feedback" *ngIf="firstname.invalid && firstname.touched">
              <!--*ngIf Directive-->
              <strong *ngIf="firstname.errors?.required"
                >Username is required</strong
              >
              
            </span>
          </div>
          <div class="form-group mt-3">
            <div class="input-group">
              <input
                type="text"
                formControlName="lastname"
                class="form-control"
                placeholder="Lastname"
                [ngClass]="{
                  'is-invalid':
                    signupform.errors && (lastname.touched || lastname.dirty),
                  'is-valid': lastname.valid
                }"
              />
            </div>
            <span class="feedback" *ngIf="lastname.invalid && lastname.touched ">
              <!--*ngIf Directive-->
              <strong *ngIf="lastname.errors?.required"
                >Password is required</strong
              >
            </span>
          </div>
          <div class="form-group mt-3">
            <div class="input-group">
              <input
                type="email"
                formControlName="useremail"
                class="form-control"
                placeholder="email"
                [ngClass]="{
                  'is-invalid':
                    signupform.errors && (useremail.touched || useremail.dirty),
                  'is-valid': useremail.valid
                }"
              />
            </div>
            <span class="feedback" *ngIf="useremail.invalid && useremail.touched">
              <!--*ngIf Directive-->
              <strong *ngIf="useremail.errors?.required">
               Email is required</strong
              >
              <strong *ngIf="useremail.errors?.email"
                >Not a valid email</strong
              >
            </span>
          </div>
          <div class="form-group mt-3">
            <div class="input-group">
              <input
                type="password"
                class="form-control"
                placeholder="password"
                formControlName="password"
              />
            </div>
            <span class="feedback" *ngIf="password.invalid && password.touched ">
              <!--*ngIf Directive-->
              <strong *ngIf="password.errors?.required">
               Password is required</strong
              >
            </span>
          </div>
          <div class="form-group mt-3">
            <div class="input-group">
              <input
                type="password"
                formControlName="confirmpassword"
                class="form-control"
                placeholder="Confirm Password"
                [ngClass]="{
                  'is-invalid':
                    signupform.errors &&
                    (confirmpassword.touched || confirmpassword.dirty),
                  'is-valid': confirmpassword.valid
                }"
              />
            </div>
            <span class="feedback" *ngIf="confirmpassword.invalid&& confirmpassword.touched || notmatched ">
              <!--*ngIf Directive-->
              <strong *ngIf="confirmpassword.errors?.required">
               confirmpassword is required</strong
              >
              <strong *ngIf=confirmpassword.errors.matchPasswords>
                password don't match </strong>
            </span>
          </div>
          <div class="form-group mt-3 text-center">
            <input
            name="companytype"
              type="radio"
              formControlName="companytype"
              class="ms-2"
              value="School"
             
            />
            <label class="ms-2" for="companytype">School</label>
            <input
                name="companytype"
              type="radio"
              formControlName="companytype"
              class="ms-3"
              value="Enterprise"

            />
            <label class="ms-2" for="companytype">Enterprise</label>
            <span class="feedback d-block" *ngIf="companytype.invalid">
              <!--*ngIf Directive-->
              <strong *ngIf="companytype.errors?.required">
               Please select an option </strong
              >
            </span>
          </div>
          <div class="form-group mt-3">
            <div class="input-group">
              <input
                type="text"
                formControlName="dealershipname"
                class="form-control"
                placeholder="Dealership Name"
                [ngClass]="{
                  'is-invalid':
                    signupform.errors &&
                    (dealershipname.touched || dealershipname.dirty),
                  'is-valid': dealershipname.valid
                }"
              />
            </div>
            <span class="feedback " *ngIf="dealershipname.invalid && dealershipname.touched">
              <!--*ngIf Directive-->
              <strong *ngIf="dealershipname.errors?.required">
               Provide dealership name </strong
              >
            </span>
          </div>
          <div class="form-group mt-3">
            <div class="input-group">
              <input
                type="text"
                formControlName="dealershipcode"
                class="form-control"
                placeholder="Dealership code"
                [ngClass]="{
                  'is-invalid':
                    signupform.errors &&
                    (dealershipcode.touched || dealershipcode.dirty),
                  'is-valid': dealershipcode.valid
                }"
              />
            </div>
            <span class="feedback d-block" *ngIf="dealershipcode.invalid && dealershipcode.touched">
              <!--*ngIf Directive-->
              <strong *ngIf="dealershipcode.errors?.required">
               Provide dealership code</strong
              >
            </span>
          </div>
          <div class="form-group mt-3">
            <div class="input-group">
              <input
                type="text"
                formControlName="city"
                class="form-control"
                placeholder="City"
                [ngClass]="{
                  'is-invalid':
                    signupform.errors && (city.touched || city.dirty),
                  'is-valid': city.valid
                }"
              />
            </div>
            <span class="feedback d-block" *ngIf="city.invalid && city.touched">
              <!--*ngIf Directive-->
              <strong *ngIf="city.errors?.required">
               City is required</strong
              >
            </span>
          </div>
          <div class="form-group mt-3">
            <label for="state" class="align-content-start flex">State</label>
            <select
              name="citySelect"
              formControlName="state"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  signupform.errors &&
                  (state.touched || state.dirty),
                'is-valid': state.valid
              }"
            >
              <option value="Andhra Pradesh">Andhra Pradesh</option>
              <option value="Andaman and Nicobar Islands">
                Andaman and Nicobar Islands
              </option>
              <option value="Arunachal Pradesh">Arunachal Pradesh</option>
              <option value="Assam">Assam</option>
              <option value="Bihar">Bihar</option>
              <option value="Chandigarh">Chandigarh</option>
              <option value="Chhattisgarh">Chhattisgarh</option>
              <option value="Dadar and Nagar Haveli">
                Dadar and Nagar Haveli
              </option>
              <option value="Daman and Diu">Daman and Diu</option>
              <option value="Delhi">Delhi</option>
              <option value="Lakshadweep">Lakshadweep</option>
              <option value="Puducherry">Puducherry</option>
              <option value="Goa">Goa</option>
              <option value="Gujarat">Gujarat</option>
              <option value="Haryana">Haryana</option>
              <option value="Himachal Pradesh">Himachal Pradesh</option>
              <option value="Jammu and Kashmir">Jammu and Kashmir</option>
              <option value="Jharkhand">Jharkhand</option>
              <option value="Karnataka">Karnataka</option>
              <option value="Kerala">Kerala</option>
              <option value="Madhya Pradesh">Madhya Pradesh</option>
              <option value="Maharashtra">Maharashtra</option>
              <option value="Manipur">Manipur</option>
              <option value="Meghalaya">Meghalaya</option>
              <option value="Mizoram">Mizoram</option>
              <option value="Nagaland">Nagaland</option>
              <option value="Odisha">Odisha</option>
              <option value="Punjab">Punjab</option>
              <option value="Rajasthan">Rajasthan</option>
              <option value="Sikkim">Sikkim</option>
              <option value="Tamil Nadu">Tamil Nadu</option>
              <option value="Telangana">Telangana</option>
              <option value="Tripura">Tripura</option>
              <option value="Uttar Pradesh">Uttar Pradesh</option>
              <option value="Uttarakhand">Uttarakhand</option>
              <option value="West Bengal">West Bengal</option>
            </select>
            <span class="feedback d-block" *ngIf="state.invalid && state.touched">
              <!--*ngIf Directive-->
              <strong *ngIf="state.errors?.required">
               Select a state</strong
              >
            </span>
          </div>
          <div class="form-group mt-3">
            <div class="input-group">
              <input
                type="text"
                formControlName="gstnumber"
                class="form-control"
                placeholder="GST Number"
                [ngClass]="{
                  'is-invalid':
                    signupform.errors && (city.gstnumber || city.gstnumber),
                  'is-valid': gstnumber.valid
                }"
              />
            </div>
            <span class="feedback d-block" *ngIf="gstnumber.invalid && gstnumber.touched">
              <!--*ngIf Directive-->
              <strong *ngIf="gstnumber.errors?.required">
               GST number is required</strong
              >
            </span>
          </div>
          <button class="form-control mt-5 btn" type="submit">Sign Up</button>
        </form>
      </div>
    </div>
  </div>
</div>
