<div class="container-fluid cart">
    <div class="container" *ngIf="cartCount<1">
        <div class="row flex justify-content-center">
            <h5 class="text-center mt-5">Your cart is Empty</h5>
            <button routerLink="/" class="btn w-25 mt-3 mb-5 btn-light shopping">Continue Shopping</button>
        </div>

    </div>
    <div class="container justify-content-center" *ngIf="cartCount >0">
            <div class="row text-center pt-5 pb-5">
                <h1>Your bag Total is {{cartTotal(cartList) | currency :'INR'}}</h1>
            </div>
            <div class="row text-center" *ngFor="let product of cartList">
                <div class="col-3">
                    <img src="{{product.prod_img}}" class="img-fluid" alt="" srcset="">
                </div>
                <div class="col-4">
                    <h4>{{product.name}}</h4>
                    <h6>Size:{{product.size}}</h6>
                </div>
                <div class="col-2">
                    <h5>
                        
                        <button class="btn- btn-light border-0" *ngIf="product.quantity>1" (click)="decreeCount(product)" >-</button>
                        {{product.quantity}}
                        <button class="btn- btn-light border-0" (click)="increeCount(product)" >+</button>
                    </h5>
                </div>
                <div class="col-3">
                    <h3>{{product.sell_price | currency : 'INR'}}</h3>
                    <button (click)="deleteCart(product.id)">Remove Item</button>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <h5>Enter Coupon</h5>
                    <input type="text" name="" id=""><button class="">Apply</button>
                </div>
                <div class="col-4 pricing">
                    <p>Sub Total</p>
                    <p>Total</p>
                </div>
                <div class="col-4 total text-end">
                    <p class="align-content-end">{{cartTotal(cartList) | currency :'INR'}}</p>
                    <p class="align-content-end">{{cartTotal(cartList) | currency :'INR'}}</p>
                    <button routerLink="/" class="btn w-50 me-5 mt-3 mb-5 btn-light shopping">Continue Shopping</button>
                    <button routerLink="/" class="btn mt-3 mb-5 btn-light shopping">Place Order</button>
                </div>
            </div>
    </div>
</div>