<!--===============College Collectons=====================-->

<div class="collections container-fluid">
  <div class="row">
    <div class="col-12 justify-content-end align-items-end flex">
      <div class="content">
        <h1>The acecraft Collection</h1>
        <p class="col-md-7 col-sm-7 col-lg-7 col-xl-7">Simple. Sharp</p>
        <p class="col-md-7 col-sm-7 col-lg-7 col-xl-7">
          Detailed perfection that makes you look good and feel great. Put it
          on. Its's like magic.
        </p>
        <h2 class="col-md-7 col-sm-7 col-lg-7 col-xl-7 justify-content-end flex mt-5">Classic | Absolute | Signature</h2>
      </div>
    </div>
  </div>
</div>

<!--================ Making ===============================-->

<div class="making container-fluid">
  <div class="row">
    <div class="col-12 justify-content-center align-items-end flex">
      <div class="grid">
        <img
          src="assets/img/woolen-ball.jpg"
          alt="img"
          srcset=""
          style="height: 250px; width: 450px"
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-lg-12 justify-content-center flex">
        <h3>Naturally Cutting-Edge.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-lg-12 justify-content-center flex">
        <p class="col-md-4 col-sm-4 col-lg-4 col-xl-3">
          The best of both worlds has a new definition. Every fabric in the
          acecraft line-up is made from a blend of two fibres to give you the
          best range. No tech involved - it's just the touch of nature.
        </p>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div
      class="col-md-7 mt-3 col-sm-12 col-lg-7 justify-content-center align-items-end flex"
    >
      <div class="grid ms-5">
        <img
          src="assets/img/wool.png"
          alt="img"
          srcset=""
          height="200px"
          width="230px"
        />
      </div>
    </div>
    <div
      class="col-sm-4 mt-3 col-lg-4 col-sm-12 col-xl-4 justify-content-center"
    >
      <h1>The Blended Wool</h1>
      <p class="col-sm-9 col-md-9 col-lg-6 col-xl-9">
        The Blended Wool is a class apart - with a mix of polyester for its
        wrinkle/crease-resistance and wool for warmth and absorbency, end your
        day looking the same as how you began it.
      </p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-6 mt-3 justify-content-center col-offset-2">
      <h1 class="w-auto">The Blended Cotton</h1>
      <p class="col-md-5 mt-3 col-sm-5 col-lg-5 col-xl-5">
        The Blended Cotton is extremely strong and breathable. Easy to iron,
        this variant shrinks lesser than pure cotton and retains its colour,
        which makes it a favourite choice for your everyday college wear.
      </p>
    </div>
    <div
      class="col-md-4 col-sm-4 col-lg-4 mt-5 col-xl-4 justify-content-start align-items-end flex"
    >
      <img
        src="assets/img/Cotton.png"
        alt="img"
        srcset=""
        height="200px"
        width="230px"
      />
    </div>
  </div>
  <div class="row mt-5">
    <div
      class="col-md-7 mt-5 col-sm-12 col-lg-7 justify-content-center align-items-end flex"
    >
      <div class="grid ms-5">
        <img
          src="assets/img/Viscose.png"
          alt="img"
          srcset=""
          height="200px"
          width="230px"
        />
      </div>
    </div>
    <div
      class="col-sm-4 col-lg-4 col-sm-12 col-xl-4 justify-content-center mt-5"
    >
      <h1>The Blended Viscose</h1>
      <p class="col-sm-9 col-md-9 col-lg-6 col-xl-9">
        The Blended Viscose addition combines two ends of the spectrum -
        durability and a sense of softness. While the polyester contributes to
        resilience and shape retention, the viscose adds on to the overall
        absorbency, both sharpening and softening your look at the same time.
      </p>
    </div>
  </div>

  <div class="container-fluid mt-5" id="making-banner">
    <div class="row text-center">
       <div class="col-xl-12 col-md-6 col-sm-3">
        <h4 class="col-md-3 col-sm-3 col-xl-3 offset-4  justify-content-center  align-items-end flex">THE ACECRAFT FIT</h4>
        <h1 class="col-md-3 col-sm-3 col-xl-3 offset-4  justify-content-center  align-items-end  flex">Comfy. Very comfy.</h1>
        <p class="col-md-3 col-sm-3 col-xl-3   offset-4  justify-content-center align-items-end flex">
          It's not just the fabric - it's also the fit. The shoulders and
          sleeves fit right while the body feels relaxed, making it undoubtedly
          the best
        </p>
       </div>
    </div>
  </div>
</div>
