.collections {
    background-image: url(/assets/img/collections-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.collections .col-12{

    padding-top: 200px;
    padding-bottom: 150px;
}

.collections .col-12 h1{
    color: rgb(156, 148, 148);
    font-size: 35px;
    font-weight:700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.collections .col-12 p{
    color: rgb(156, 148, 148);
    font-size: 18px;
    font-weight: 500;
    text-align: end;
  

}

.collections .col-12 h2{
    color: rgb(156, 148, 148);
    font-size: 25px;
    font-weight: bolder;
}

/*=================Making =========================*/

.making{
    background-color: #b2b3b5 !important;
}

/* .making .row p:nth-child(1){
    min-width: 24%;
    max-width: 24%;
    word-spacing: 2px;
    text-align:center;
} */

#making-banner .row{
    background-image: url(src/assets/img/making-banner.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    padding-top: 300px;
    padding-bottom: 100px;
    width: 100%;
}

#making-banner{
    padding-top: 150px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
}

@media only screen and (max-width: 800px) {
    #making-banner{
        padding:0px;
    }
    #making-banner .col-sm-3{
        
    }
}
