<div class="container">
    <div class="row">
        <div class="col-12 justify-content-center flex">
            <h1>Blogs</h1>
        </div>
    </div>

    <div class="row" >
        <div class="col-md-12 col-xl-6 col-lg-6 col-sm-12" *ngFor="let note of notesArray">
            <div class="card shadow-4">
                    <div class="card-body flex align-items-center justify-content-center">
                        <a routerLink="{{note.id}}" ><h4>{{note.id  | spacePipe | uppercase}}</h4></a>
                    </div>
                
              </div>
            
        </div>
    </div>
</div>