/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";


.p-tabmenu .p-tabmenu-nav{
    background-color: black !important;
    justify-content: space-between;
    justify-content: space-around !important;
    display: flex !important;
}
a{
    background-color: black !important;
    color: #ffffff !important;
    border: none !important;
}
/* a> .p-menuitem-icon{
    display: none;
} */

.p-menuitem-text{
    color: grey !important;
    font-weight:600 !important;
}

.p-menuitem-text:hover{
    color: rgb(255, 255, 255) !important;
}
.p-menuitem-link:focus {
    box-shadow: none !important;
    border-bottom: 3px rgb(102, 95, 95) solid !important;
    border-radius: 0px !important;
    font-weight: bolder !important;
    color: #ffffff !important;
}

.p-menubar{
    background: black !important;
    border-color: #ffffff !important;
    color: #ffffff !important;
    border: none !important;
   
}
.p-element{
    display: flex !important;
    justify-content: center !important;
}

@media screen and (max-Width:800px) {
    .p-menubar ul{
        width: 300px !important;
        background-color:black !important;
        left:-150px !important;
    }
}


/*========================Footer===================================*/
.footer .p-menubar{
    margin:0px !important;
}

.footer a{
    background-color: black !important;
    color: #ffffff !important;
    border: none !important;
    padding: 30px !important;
    
}

.footer .p-menuitem-text:hover{
    color: rgb(255, 255, 255) !important;
}
.footer .p-menuitem-link:focus {
    box-shadow: none !important;
    border-bottom: 3px rgb(0, 0, 0) solid !important;
    font-weight: bolder !important;
    color: #ffffff !important;
}

.footer .p-menubar{
    background: black !important;
    border-color: #000000 !important;
    color: #ffffff !important;
    border: none !important;
}


.body{
    overflow-x: hidden !important;
}

/*================== College Carousel ==========================*/

.p-carousel .p-carousel-indicators {
    display: none;
}


/*================== Get In touch ===============================*/
.p-dialog .p-dialog-content {
    background-color: white !important;
    color: black !important;
}

.p-dialog .p-dialog-header {
    background-color: white !important;
    color: black !important;
    text-align: center !important;
    padding-left: 50px !important;
    
}
.p-dialog .p-dialog-header .p-dialog-title{
    font-size: 23px !important;
    width: 80% !important;
}

.p-dialog .p-dialog-header .p-dialog-header-icon{
    color: #000000 !important;
}


.p-timeline-event-separator{
    margin-right: -150px !important;
    margin-left: 150px !important;
    color: #978f8f;
    font-weight: 600;
}
 .p-timeline-event-connector{
    background-color: #978f8f !important;
}
.p-card-body{
    background-color: black;
    justify-content: center;
    text-align: center;
}
.p-card-content img{
    margin-top: -70px !important;
}

.p-card-body h6{
    margin-top: 30px;
    font-size: 30px;
    max-width: 100%;
}

.dropdown-content p-badge{
    color:darkgrey !important;
    font-size: 20px  !important;
}
