<!-- ============== Main Content  ==================-->

<div class=" main-body container-fluid">
  <div class="content-grid row justify-content-center align-items-baseline">
    <div class="content">
      <p>Choose Class</p>
      <p>over the common</p>
    </div>
    <h5 class="justify-content-center flex">ACECRAFT FOR COLLEGES <span
        class="pi pi-angle-right fadeoutright animation-duration-1000 animation-iteration-infinite"></span></h5>
  </div>
</div>

<div class="container-fluid">
  <div class="row ">
    <div class="col-xl-6 col1 col-lg-6 col-md-12 col-sm-12">
      <div class="row forschool justify-content-center align-items-end ">
        <span class="content">
          <p>Choose Class</p>
          <p>over the common</p>

        </span>
        <h5 class="justify-content-center">ACECRAFT FOR COLLEGES <span
            class="pi pi-angle-right fadeoutright animation-duration-1000 animation-iteration-infinite"></span></h5>
      </div>
    </div>
  

  <div class="col-xl-6  col2 col-lg-6 col-md-12 col-sm-12">
    hello
  </div>
</div>
</div>