/*------------- Main Body ---------- */

.main-body{
    background-image: url(src/assets/img/body-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 400px;
    padding-bottom: 100px;
}

.content{
    
    align-items: end;
    max-width: 300px;
    border: 2px solid white;
    margin-bottom: 50px;
}
.content p{
    color: grey;
}

.content p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    text-align: center;
    
}
.content p:nth-child(2){
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    
}

.main-body h5{
    color: white;
}

.pi{
    font-size: 27px !important;
    color: white;
}


.container-fluid .col1{
    background-image: url(http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/home3.jpg);
    background-position:50% 20%;
    background-size: cover;
    background-repeat: no-repeat;
}

.container-fluid .col2{
    background-image: url(http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/home4.jpg);
    background-position:50% 20%;
    background-size: cover;
    background-repeat: no-repeat;

}



.forschool {
    min-height: 90vh;
}
.subbody{
    background-color: black;
}

.forschool .content{

    max-width: 300px;
    border: 2px solid white;
    margin-bottom: -300px;
}
.forschool h5{
    padding-bottom: 50px;
    color: white;
}


.col2 {
    min-height: 75vh;
}